<!-- One -->
<section id="{{ include.section.section_id }}" class="wrapper {{ include.section.background_style }}">
    <div class="inner">
        <section class="spotlights">
            {% assign arr = include.site.pages | where_exp: 'item', 'item.home_sections.spotlight.enabled == true' | sort: 'home_sections.spotlight.weight' %}
            {% for page in arr %}
                <article>
                    <header class="major">
                        {{ page.subtitle | markdownify }}
                        <h2>{{ page.title }}</h2>
                    </header>
                    <p>{{ page.home_sections.spotlight.excerpt }}</p>
                    <ul class="actions">
                        <li><a href="{{ page.url | relative_url }}" class="button">More</a></li>
                    </ul>
                </article>
            {% endfor %}
        </section>
    </div>
</section>
